.App {
  text-align: center;
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.App-header {
  background-color: #3e3d3d;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
